Package: me.luki.coraswift
Name: Cora
Version: 0.9.0
Architecture: iphoneos-arm
Description: See your device's uptime and information in less clicks
Maintainer: Luki
Author: Luki
Section: Utilities
Depends: ${LIBSWIFT}
