Package: me.luki.cora
Name: Cora
Version: 0.9.0
Architecture: iphoneos-arm
Description: See your device's uptime in less clicks
Maintainer: Luki
Author: Luki
Section: Utilities
Depiction: https://luki120.github.io/depictions/web/?p=me.luki.cora
SileoDepiction: https://luki120.github.io/depictions/native/me.luki.cora/depiction.json
