Package: me.luki.nsnotifsexampleswiftui
Name: NSNotifsExample
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome SwiftUI application!
Maintainer: Luki
Author: Luki
Section: Utilities
Depends: ${LIBSWIFT}
