Package: me.luki.aurora
Name: Aurora
Version: 0.9.2
Architecture: iphoneos-arm
Description: An awesome vanilla password manager (kinda)
Maintainer: Luki
Author: Luki
Section: Utilities
Depiction: https://luki120.github.io/depictions/web/?p=me.luki.aurora
SileoDepiction: https://luki120.github.io/depictions/native/me.luki.aurora/depiction.json
